div {
background-color: #F0F8FF
}

body {
  margin: 0;
  text-align: center;
  font-family: Big Caslon, serif;
  font-size: 2em;
}
hr{
  background-color: #e1f5fe
}

h1 {
  margin-top: 50px;
  font-family: 'Poor Story', cursive;
  font-size: 5.625rem;

}
h2{
  font-family: 'Noto Sabs Thai', sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
}
h3{
  font-family: 'Comfortaa', cursive;
}
span {
  text-decoration: underline;
}
hr{
  margin: 0;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #BEBEBE
}

.example-div {
  background-color: powderblue;
height: 300px;
width: 300px;
padding: 20px;
}

.top-cloud {
  position: absolute;
  top:50px;
  right:300px;
}
.bottom-cloud {
  position:absolute;
  left:300px;
  bottom:300px;
}
.middle-container{
  padding-top: 20px;
}
.profile {
  background-color: #D3D3D3
  margin-top: 100px;
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  top: 100px;
}
.image {
  width: 20%;
  bottom:100px;
}
.skill-row {
  width:30%;
  margin: 100px auto 100px auto;
}
.javascript{
  width: 30%;
  float: left;
  margin-right: 20px;
}
.coding{
  width: 30%;
  float: right;
  margin-left: 5px;
}
.ig
{
  width: 5%;
}
.face
{
  width: 5%;
  margin-left: 20px;
}


เขียนถึง ธันวา.
